.swiper-slide {
  opacity: .3;
}

.swiper-slide-active {
  opacity: 1;
}

h1 {
  font-style: 20px;
  text-align: center;
  margin: 40px 0;
}

.swiper {
  margin-bottom: 40px;
}

.container {
  padding: 24px;
}

.name-input {
  width: 100%;
}

.radio-group {
  margin-bottom: 40px;
  display: block;
  &__item {
    margin-right: 24px;
  }
}

.form-footer {
  text-align: center;
}