<h1>ペットを作る</h1>

<p>カルーセルはいる</p>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>名前</mat-label>
    <input formControlName="name" placeholder="テスト太郎" type="text" matInput autocomplete="off" required>
    <mat-error *ngIf="nameControl.hasError('required')">必須です</mat-error>
    <mat-error *ngIf="nameControl.hasError('maxLength')">最大40文字です</mat-error>
  </mat-form-field>
  <mat-radio-group formControlName="gender">
    <mat-radio-button value="male">おす</mat-radio-button>
    <mat-radio-button value="female">めす</mat-radio-button>
  </mat-radio-group>
  <button [disabled]="form.invalid" mat-raised-button color="primary">つくる</button>
</form>