/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: 14px;
}

.container {
  padding: 24px;
}

img {
  display: block;
  max-width: 100%;
}

.pager {
  text-align: center;
  span {
    margin: 0 4px;
  }
}

footer {
  text-align: center;
  button {
    width: 100%;
    font-weight: bold;
    margin-bottom: 20px;
  }
}